%h1 Listing post_its

#listing_post_it
  #notice_update Nouveau(x) post-it(s) chargé(s)

  #dummy_post_it.post_it
    .header
      %div
        Par
        %span.username
        Le
        %span.updated_at
      %a.title
  .spinner
  #content

#previous_page Post-its précédents
#current_page
#next_page Post-its suivants

%br

= link_to 'New Post it', new_post_it_path
