// Place all the styles related to the PostIts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#listing_post_it

  #dummy_post_it
    display: none

  .spinner
    display: none
    background-image: url('/assets/ajax-loader.gif')
    margin: auto
    width: 32px
    height: 32px