// Place all the styles related to the PostIts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin box-shadow($thickness:2px)
  -webkit-box-shadow: $thickness $thickness $thickness rgba(6, 6, 6, 0.2)
  -moz-box-shadow: $thickness $thickness $thickness rgba(6, 6, 6, 0.2)
  box-shadow: $thickness $thickness $thickness rgba(6, 6, 6, 0.2)

#listing_post_it
  @include box-shadow
  border: 1px solid #999
  margin: 20px
  padding: 20px

  #notice_update
    border: 1px solid #333
    background-color: #3F3
    @include box-shadow
    margin: 10px
    text-align: center
    display: none

  #dummy_post_it
    display: none

  .spinner
    display: none
    background-image: url('/assets/ajax-loader.gif')
    margin: auto
    width: 32px
    height: 32px

  #content
    .post_it
      margin: 15px 0
      border: 1px solid #666
      @include box-shadow
      padding: 5px

      div span
        font-weight: bold
      a.title
        margin: 5px 0
        line-height: 125%